<header class="row">
  <div id="brandStyle">
    <img src="assets/img/pinterest.png" alt="logo" id="brand">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="labelSearch">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <input class="form-control py-2 border-right-0 border" id="search" type="search" placeholder="Buscar">
  </div>
  <button id="startBtn">
    <p id="startBtnText">Inicio</p>
  </button>
  <button id="followingBtn">
    <p id="followingBtnText">Siguiendo</p>
  </button>
  <button id="userBtn">
    <img src="assets/img/Carolo.png" id="userImg" alt="My image">
    <p id="userName">Carolina</p>
  </button>
  <button id="mesaggesBtn">
    <i class="fas fa-comment"></i>
  </button>
  <button id="notificationBtn">
    <i class="fas fa-bell"></i>
  </button>
  <button id="ellipsisBtn">
    <p id="ellipsis">•••</p>
  </button>
</header>
<div>
  <hr>
</div>